---
layout: master
---
  
{% for post in site.posts %}
<div class="entry">
  <div class="entry_header">
    <div class="entry_title">
      <h2 id="post_{{post.id | id_to_css_id}}" style="font-size:"><a href="{{post.url | url_without_slash}}">{{post.title}}</a></h2>
      {% if post.sub_title %}
        <h3 class="sub_header">{{post.sub_title}}</h3>
      {% endif %}
      <style type="text/css">@media screen and (-webkit-min-device-pixel-ratio:0){#post_{{post.id | id_to_css_id}}:after {content:'{{post.title}}';}}</style>
    </div>
    <div class="entry_meta">
      <span class="date">{{post.date | date_to_pretty_string}}</span>
      <span class="authors">by {{post.authors}}</span> 
      <div class="entry_comments_count" id="entry_comments_count_{{post.id | id_to_css_id}}">
        <a href="{{post.url | url_without_slash}}#disqus_thread">
          0 Comments
        </a>
      </div>
    </div>
  </div>
  <div class="entry_body">
    {{ post.content }}
    <div class="spacer"></div>
  </div>
</div>
{% endfor %}
