{% capture rack_env %}{{ "" | rack_env }}{% endcapture %}
{% capture timestamp %}{{ "" | timestamp }}{% endcapture %}

<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {% if page.title %}
      <title>Jilion Blog - {{ page.title }}</title>
    {% else %}
      <title>Jilion Blog</title>
    {% endif %}
    
    {% if rack_env == 'production' %}
    <!--[if (!IE)|(gte IE 8)]><!-->
    <link href="http://blog.medias.jilion.com/{{timestamp}}/assets/style-datauri.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lte IE 7]>
    <link href="http://blog.medias.jilion.com/{{timestamp}}/assets/style-mhtml.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    {% else %}
      <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Jilion Blog" href="http://feeds.feedburner.com/jilion" />
    <link rel="shortcut icon" href="http://blog.medias.jilion.com/favicon.ico" type="image/x-icon" />
    <!--[if gte IE 7]>
      <script type="text/javascript">var curvyCornersNoAutoScan = true;</script>
      <script type="text/javascript" src="http://blog.medias.jilion.com/javascripts/curvycorners.js"></script>
      <script type="text/javascript">
        var disqusPresencePolling;
        var documentHeight;
        window.onload = function() {
          documentHeight = document.body.clientHeight;
          var settings = {
            tl: { radius: 10 },
            tr: { radius: 10 },
            bl: { radius: 10 },
            br: { radius: 10 },
            antiAlias: true
          };
          var divObj = document.getElementById("back"); 
          divObj.className = "curvyRedraw";
          curvyCorners(settings, divObj);
          divObj.style.filter="alpha(opacity=70)";
          disqusPresencePolling = setInterval("checkDisqusPresence()", 1000);
        };
        
        function checkDisqusPresence() {
          if (document.body.clientHeight > documentHeight) {
            clearInterval(disqusPresencePolling);
            setTimeout(function(){
              curvyCorners.redraw();
              document.getElementById("back").style.filter="alpha(opacity=70)";
            }, 2000);
          } else {
            curvyCorners.redraw();
            document.getElementById("back").style.filter="alpha(opacity=70)";
          }
        }
        
      </script>
      <style type="text/css" media="screen">
        *+html #logo_backlights {left:-110px;}
        *+html #back {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);}
      </style>
      
    <![endif]-->
    <!--[if lte IE 6]>
      <meta content='0;url=http://jilion.com/ie' http-equiv='Refresh' />
      <style media='screen' type='text/css'>
        body {background:#fff;display:none;}
      </style>
    <![endif]-->
    <script type="text/javascript" src="http://cdn.sublimevideo.net/js/s070hm52.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/ibz5qib.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      var disqus_shortname = 'jilionblog';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/jilionblog/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      var disqus_developer = 1;
    </script>
  </head>
  <body>
    <div id="global">
      <div id="logo_backlights"></div>
      <div id="back"></div>
      <div id="main">
        <div id="header">
          <h1><a href="http://jilion.com"><span>Jilion</span></a></h1>
          <div id="blog_label">
            <div class="wrap">
              <h2><a href="http://blog.jilion.com"><span>Blog</span></a></h2>
            </div>
          </div>
        </div>
        <div class="breakline1"></div>
        <div id="content">
          {{ content }}
        </div>
        <div id="sidebar">
          <div class="box intro">
            <p><strong>Jilion</strong> is a team of developers and designers based in Lausanne, Switzerland. We help you create high quality web &amp; iPhone products.
            <a href="http://jilion.com/">more &raquo;</a></p>
          </div>
          <div class="box links">
            <ul>
              <li class="rss"><a href="http://feeds.feedburner.com/Jilion">Subscribe</a></li>
              <li class="twitter"><a href="http://twitter.com/jilion">Twitter</a></li>        
            </ul>
          </div>
        </div>
        <div class="spacer"></div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright © 2010 Jime™ SA — Jilion™ is the consulting group of Jime™ SA</p>
    </div>
    <script type="text/javascript">if((navigator.userAgent.indexOf("Windows")!=-1))document.body.className='win';</script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10280941-5");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>