---
layout: master
body: blog archive
---
{% capture rack_env %}{{ "" | rack_env }}{% endcapture %}

{% for post in site.tags[page.tag] %}
<div class="entry">
  <div class="entry_header">
    <div class="entry_title">
      <h2 id="post_{{post.id | id_to_css_id}}" style="{% if post.font_size %}font-size:{{post.font_size}}px{% endif %}"><a href="{{post.url | pretty_url}}">{% if post.title_html %}{{post.title_html}}{% else %}<span>{{post.title}}</span>{% endif %}</a></h2>
      {% if post.sub_title %}
        <h3 class="sub_header">{{post.sub_title}}</h3>
      {% endif %}
    </div>
    <div class="entry_meta">
      <span class="date">{{post.date | date_to_pretty_string}}</span>
      <span class="authors">by {{post.authors}}</span>
      <div class="entry_comments_count" id="entry_comments_count_{{post.id | id_to_css_id}}">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ post.url | pretty_url }}" data-text="{{post.title}} —" data-count="horizontal" data-via="Jilion" data-related="jilion:Follow @Jilion to be notified about other Jilion products!">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <!-- <a href="{{post.url | pretty_url}}#disqus_thread">
          Comments
        </a> -->
      </div>
    </div>
  </div>
  <div class="entry_body">
    {{ post.content | textilize }}
    <div class="spacer"></div>
  </div>
</div>
{% endfor %}
